<PageTitle>Board Task</PageTitle>

<h1>Welcome to Board Task</h1>
@page "/"
@page "/tasks"
@inherits HomeModel
@using System.Collections.Generic
@using System.Linq
@using System.Text.Json.Serialization
@using Arke.ToDoList.WebSite.Components
@using Arke.ToDoList.WebSite.Services
@using Arke.ToDoList.WebSite.Shared

<h1>Board Task</h1>

<button type="button" @onclick="DeleteCompletedTasks">Delete all completed tasks</button>

<TaskForm CurrentTask="currentTask" OnSubmit="HandleSubmit" IsEditing="isEditing" OnCancel="ResetForm" />

<TaskList Tasks="tasks" OnEdit="StartEditTask" OnCancel="ResetForm" StatusSelectorVisible="statusSelectorVisible" />

